canvas {
    border: 2px solid black;
}

#game{
    width:1800px;
    height: 900px;
    position: relative;
}

#btnctrls{
    position: absolute;
    width: 170px;
    margin-left: 1800px;
    margin-top: 450px;
}
#rightbtn{
    position: absolute;
    margin-left: 100%;
    margin-top: -54px;
}
#dwnbtn{
    position: absolute;
    margin-left:79px;
    margin-top: 79px;
}
#upbtn{
    margin-left: 79px;
}

#rightbtn, #leftbtn, #upbtn, #dwnbtn{
    width: 120px;
    height: 50px;
}
